include Pipfile
include Pipfile.lock
recursive-include yojenkins/resources *
recursive-include yojenkins/resources/server_docker_settings/ *
recursive-include yojenkins/resources/sound/ *
recursive-include yojenkins/yo_jenkins/groovy_scripts/ *
