# -*- mode: toml -*-
# vim: set filetype=toml

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3"

[dev-packages]
bump2version = "*"
macholib = {version = "*", platform_system = "== 'Darwin'"}
mkdocs = "*"
myst_parser = "*"
pre-commit = "*"
pyinstaller = "*"
pylint = "*"
pytest = "*"
setuptools = "*"
twine = "*"
wheel = "*"
yamllint = "*"
yapf = "*"
yojenkins = {editable = true, path = "."}

[packages]
click = "*"
click-help-colors = "*"
coloredlogs = "*"
docker = "*"
json2xml = "*"
pypiwin32 = {version = "*", markers = "sys_platform == 'win32' or platform_system == 'Windows' or os_name =='nt'"}
python-jenkins = "*"
pywin32 = {version = "*", markers = "sys_platform == 'win32' or platform_system == 'Windows' or os_name =='nt'"}
pyyaml = "*"
requests_futures = "*"
toml = "*"
windows-curses = {version = "*", markers = "sys_platform == 'win32' or platform_system == 'Windows' or os_name =='nt'"}
xmltodict = "*"
yaspin = "*"

[pipenv]
allow_prereleases = true
